.hero-section {
      background-image: url(../../static/assets/images/background/thebraid.jpg);
      padding: 100px;
      height: 350px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;

      background-size: cover;
}
